@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

div[class*='alert '] {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    display: none;
}

img.intro-image {
    clip-path: circle();
    margin: 0 5px;
}

.header-row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem 0 !important;
}

.card-body p:last-child {
	font-size: 1.3rem;
}

.card-body p:last-child::before {content: '$';padding: 5px;}

.card-body p:last-child::after {content: 'K';}

span#lastest-item {
	position: absolute;
	top: 20px;
	right: -40px;
	width: auto;
	height: auto;
	background: #f1f1f1;
	color: #5c5d5c;
	padding: 0.5rem 2rem;
	text-transform: uppercase;
	z-index: 10;
	transform: rotate(45deg);
	font-size: 0.8rem;
	font-weight: 500;
}

.explore div[class*="row"] {
	padding: 2rem 0;
}

.image-item img {
	width: 350px;
	height: 230px;
}

.card:hover img {
	transform: scale(1.3);
	transition: 2s;
}

.card:hover .add-to-cart {
	transform: scale(2);
	transition: 1s;
}

.card:hover .add-to-cart a {
	opacity: 1;
}
.add-to-cart a {
	transform: scale(0.6);
	opacity: 0;
	transition: 1s !important;
	background: #ffffff;
	color: #5c5d5c;
	border: none;
}

.add-to-cart {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(45deg, #9e9e9e87, #21212182);
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	clip-path: circle();
	transform: scale(0);
}

.image-item {
	position: relative;
	width: inherit;
	height: inherit;
	overflow: hidden;
}

.body-list-cart {
	overflow: scroll;
	height: 420px;
}

li.list-group-item {border: none;border-radius: unset !important;border-bottom: 1px solid #6c757d;margin-bottom: auto;}

/* .list-group-item:last-child {
	border: none;
} */

span.purchase-total-price {
	font-size: 1.3rem;
}

span.purchase-total-price::before {
	content: '$';
	margin: 0 2px;
}

.purchase-list-cart {
	padding: 1rem 0px;
	color: #292929;
	border-top: 2px solid #6c757d;
	text-transform: uppercase;
}

.purchase-list-cart div[class*="col-"] {
	display: flex;
	justify-content: center;
	align-items: center;
}

.purchase-list-cart .col-6:first-child {
	flex-direction: column;
}

.purchase-list-cart .col-6:last-child {
	flex-direction: column;
}

.purchase-list-cart .col-6:last-child a {
	width: 120px;
	margin: .2rem;
}


h4.purchase-title {
	font-size: 1rem;
	font-weight: 500;
	margin: 0;
}

p.price {
	margin: 0;
}

p.shopping-cart-name {
	margin-bottom: 0;
	text-transform: uppercase;
}

img.w-100.shopping-cart-image {
	height: 50px;
	box-shadow: 0px 0px 2px;
	border-radius: 5px;
}

li.list-group-item div[class*="col-"] {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.col-4.remove-button a {
    padding: 2px 5px;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
}

.col-8.adjust-button-amounts, .col-4.remove-button {
    justify-content: flex-end !important;
}

.col-3.change-price {
	font-size: 1rem;
	padding: 0;
	word-break: break-word;
	line-height: 20px;
}

.col-3.change-price::before {content: '$';margin: 0 2px 0 0;}

.col-3.change-item-image {
	padding: 0;
}

li.list-group-item.change-list-cart {
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

input.amount {
	width: 55px;
	text-align: center;
	border-radius: 7px;
	border: 1px solid #565656;
	outline: none;
	margin: 0 0.5rem;
}

li.list-group-item i {
	width: 1.3rem;
	height: 1.3rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid #5c5d5c;
	font-size: 0.6rem;
	color: #5c5d5c;
	margin: 0.3rem 0;
	transition: 0.3s;
	cursor: pointer;
}

li.list-group-item i:hover {
	background: #6c757d;
	color: white;
	transform: scale(1.2);
}

h3.list-title {
	color: #6c757d;
	text-transform: uppercase;
}

.header-list-cart {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	border-bottom: 2px solid #6c757d;
}

div.list-cart {
	width: 300px;
	height: auto;
	position: fixed;
	top: 90px;
	right: 8rem;
	background: white;
	border-radius: 5px;
	border: 2px solid #6c757d;
	word-spacing: normal;
	color: #5c5d5c;
	box-shadow: 0px 0px 3px black, 0px 0px 6px black;
	display: none;
}

div.list-cart.open-list {
    display: block;
}

div.list-cart::before {
	content: '';
	display: block;
	position: fixed;
	width: 30px;
	height: 44px;
	background: #ffffff;
	top: 70px;
	right: 260px;
	clip-path: polygon(50% 0%, 100% 50%, 0% 50%);
}

html {
	user-select: text;
	scroll-behavior: smooth;
}

div#explore {
	background: #f1f1f1;
}

.search-input i {
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translate(0,-50%);
	color: #1f4721;
}

.search-input {
	width: 50%;
	position: relative;
	margin: 1rem;
}

.search-input input {
	border-radius: 25px;
	border: 1px solid #b1b1b1;
	padding: 0 2.5rem;
}

.search-input input::placeholder {
	color: #ababab;
	word-spacing: -2px;
}
.search-input input:focus::placeholder {
	color: transparent;
}

.search-input input:focus{
	border: none;
}

.nodes-type {
	padding: 0.5rem;
}

.nodes-type a {
	width: 75px;
	margin: 0 1rem;
}

.change-col-explore-top {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#about {
	width: 100%;
	height: auto;
	background: ghostwhite;
}

img.about-image {
	width: inherit;
	box-shadow: 0px 0px 5px black, 0px 0px 10px #5c5d5c;
	transition: 2s;
}

img.about-image:hover {
	box-shadow: 0px 0px 5px black, 0px 0px 10px #5c5d5c, 0px 0px 30px #5c5d5c;
}

a.change-btn-explore {
	width: 30%;
}

a[class*="btn-"] {
	transition: 0.3s;
}

p.about-description {
	font-weight: 400;
	text-align: justify;
}

.row.change-row {padding: 10rem 1rem;}

.explore .row:last-child {
	padding-bottom: 5rem;
}

h2.about-title, h2.explore-title {
	font-size: 5rem;
	font-weight: 400;
	text-transform: uppercase;
	background: linear-gradient(to top, #000000 50%, #00BCD4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2.explore-title {
	background: linear-gradient(to top, #000000 50%, #4CAF50);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2.about-title::before {
	content: 'about ';
	text-transform: lowercase;
	font-weight: 100;
	-webkit-text-fill-color: black;
}

h2.explore-title::before {
	content: 'our ';
	text-transform: lowercase;
	font-weight: 100;
	-webkit-text-fill-color: black;
}

.col-6.change-col-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 5rem;
}

span.display-3.title {
	border-radius: 25px;
	padding: 0 0.5rem;
	text-transform: uppercase;
	background: linear-gradient(131deg, #ffffff 44%, #8BC34A 41%, #4CAF50 64%, #FFC107 56%, #FF9800 85%, #00BCD4 80%, #03A9F4 92%, white 87%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
	letter-spacing: 5px;
}

span.display-3.title::before,span.display-3.title::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 120%;
	background:linear-gradient(to top, white 50%, #009688);
}

span.display-3.title::before {
	top: 100%;
	left: 10px;
	background: linear-gradient(to bottom, white 60%, #9E9E9E 125%);
	animation: from-top 2s forwards;
	animation-delay: 2s;
}

span.display-3.title::after {
	top: 100%;
	right: 10px;
	background: linear-gradient(to top, white 60%, #9E9E9E 125%);
	animation: from-bottom 2s forwards;
	animation-delay: 2s;
}

div.change-carousel {
	padding-top: 70px;
	height: 100%;
}

.carousel-title {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #ffffff;
	background: #00000078;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel-title h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 200;
	padding: 1.5rem;
	position: relative;
	overflow: hidden;
}

.carousel-title h3::before,.carousel-title h3::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
}

.carousel-title h3::before {
	top: 10px;
	left: 100%;
	background: linear-gradient(to right, white 70%, #9E9E9E 110%);
	animation: from-left 2s forwards;
	animation-delay: 1s;
}

.carousel-title h3::after {
	bottom: 10px;
	right: 100%;
	background: linear-gradient(to left, white 70%, #9E9E9E 110%);
	animation: from-right 2s forwards;
	animation-delay: 1s;
}

div.change-carousel .carousel-inner img {
	width: 100%;
	height: -webkit-fill-available;
}

li.nav-item.active::after {
	content: '';
	display: block;
	width: inherit;
	height: 2px;
	background: white;
	transform: scale(1);
	transition: 0.3s;
}

li.nav-item::after {
	content: '';
	display: block;
	width: inherit;
	height: 2px;
	background: white;
	transform: scale(0);
	transition: 0.3s;
}

li.nav-item:hover::after {
	transform: scale(1);
}

li.nav-item {
	padding: 0 0.2rem;
}

span.total-price::before {
	content: '$';
	padding: 0.2rem;
}

span#number {
	width: 20px;
	height: 20px;
	background: #1b1b1b;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 50%;
	color: white;
	transition: 0.3s;
}

div.shopping-cart {
	position: relative;
	padding: 0.5rem 1.5rem;
	border: 1px solid white;
	border-radius: 10px;
	word-spacing: 5px;
	cursor: pointer;
	color: black;
	background: whitesmoke;
	transition: 0.3s;
}

div.shopping-cart.active {
    box-shadow: 0px 0px 5px white, 0px 0px 10px #c3c3c3;
}

div.shopping-cart i.fas.fa-shopping-cart {
	transform: scale(1.3);
}

.phone.mr-5 {
	letter-spacing: 3px;
}

a.logo {
	width: 50px;
	height: 50px;
	margin-left: 3.5rem;
}

a.logo img {
	width: inherit;
	transform: rotate(0deg) scale(1.2);
	border-radius: 50%;
}

a.logo:hover img {
	transform: rotate(360deg) scale(1.2);
	transition: 3s;
}

nav.change-navbar {
	background: #1b1b1b;
	height: 70px;
	color: white;
	font-size: 1.1rem;
	z-index: 100;
}

div#app {
	width: 100%;
	height: auto;
	font-size: 16px;
	font-family: 'Jost', sans-serif;
}

.body-list-cart::-webkit-scrollbar {
	width: 5px;
}
.body-list-cart::-webkit-scrollbar-track {
	background: transparent;
}
.body-list-cart::-webkit-scrollbar-thumb {
	background: #3F51B5;
}
.body-list-cart::-webkit-scrollbar-thumb:hover {
	background: #b5b5b5; 
}

/*Create animation here*/
@-webkit-keyframes from-left{
	0%{
		left: 100%;
	}
	100%{
		left: -65%;
	}
}
@-webkit-keyframes from-right{
	0%{
		right: 100%;
	}
	100%{
		right: -65%;
	}
}
@-webkit-keyframes from-top{
	0%{
		top: -100%;
	}
	100%{
		top: -50%;
	}
}
@-webkit-keyframes from-bottom{
	0%{
		top: 100%;
	}
	100%{
		top: 31%;
	}
}